[user]
	name = Kate Bertelsen
	email = bertelsk@wwt.com
[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/vim
[color]
	ui = true
[alias]
	s = status -sb
	st = status -sb
	sta = status -sb
	stat = status -sb
	statu = status -sb
	co = checkout
	ci = commit
	br = branch
	graph = log --oneline --color --graph --decorate
[push]
	default = simple
[pull]
	ff = only
[include]
	path = .local.gitconfig
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
